html {
    font: 12pt sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#climate-map {
    width: 100vw;
    height: 100%;
}

#filter-container.map-window {
    top: 5.3rem;
    min-height: 100px;
    width: 27rem;
    z-index: 1001;
}

#filter-button.map-button {
    top: 5.3rem;
    height: 2rem;
    padding-top: 0.2rem;
}

#location-climate.map-window {
    top: 0.4rem;
    width: 40em;
    bottom: 16vh;
    overflow-y: scroll;
}

#location-title {
    font-size: 15pt;
}
#location-title a:last-child {
    text-decoration: none;
}

#search-expand-button.map-button {
    top: 7.9rem;
}

#search-container.map-window {
    top: 7.9rem;
    max-width: 17rem;
    padding: 5px;
    z-index: 1001;
}

#temperature-button.map-button {
    top: 10.5rem;
    color: #f44;
}

#precipitation-button.map-button {
    top: 13rem;
    color: #44e;
}

#potet-button.map-button {
    top: 15.5rem;
}

#ssp-button.map-button {
    top: 18.1rem;
    padding-left: 0.3rem;
    width: 1.9rem;
}

#units-button.map-button {
    top: 18.1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    height: 1.7rem;
    padding-left: 0.5rem;
    width: 1.7rem;
}

#about-button.map-button {
    top: 20.6rem;
}

#about-question-mark {
    margin-left: 0.3rem;
}

#about.map-window {
    top: 0.4rem;
    bottom: 10vh;
    width: 30rem;
    padding-top: 0;
    z-index: 1001;
    overflow-y: scroll;
}

.help-point {
    clear: both;
    padding: 5px;
}

.help-point img {
    float: left;
}

#legend {
    z-index: 1000;
    position: absolute;
    top: 23.3rem;
    left: 0.4rem;
}

#legend > img {
    width: 2.4rem;
}

#error-container.map-window {
    z-index: 1005;
    padding: 10px;
    position: absolute;
    top: 0.4rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 65vw;
    width: 30rem;
    text-align: center;
    background: #ebb;
}

#error-container-close.container-close {
    background: #eaa;
}
#error-container-close.container-close:hover {
    background: #e88;
}

.map-window {
    left: 3rem;
    position: absolute;
    max-width: 75vw;
    width: 40rem;
    max-height: 90vh;
    padding: 0.7rem;
    border-left: 1px solid #aaa;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888;
    z-index: 1000; /* Has to go over the map. */
}

/**
 * Width does not include padding so width is actually 30px. Why?
 */
.map-button {
    position: absolute;
    left: 0.4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 15pt;
    background-color: #fff;
    padding-left: 0.4rem;
    padding-top: 0.4rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);
    z-index: 1000;
}

.map-button:hover {
    background-color: #f4f4f4;
}

.selected-map-button.map-button {
    background-color: #fc9;
}

.container-close {
    z-index: 1001;
    position: absolute;
    right: 4px;
    top: 2px;
    padding: 0.2rem;
    border: 1px solid #444;
    border-radius: 3px;
    cursor: pointer;
    background: #f4f4f4;
}

.container-close:hover {
    background: #eee;
}

.container-close-large.container-close {
    font-size: 1rem;
    right: 0;
}

/**
 * Hamburger courtesy https://www.w3schools.com/howto/howto_css_menu_icon.asp
 */
.hamburger-bar1, .hamburger-bar2, .hamburger-bar3 {
    width: 80%;
    height: 0.12rem;
    background-color: #333;
    margin: 0.4rem 0;
    transition: 0.4s;
}

/* Rotate the first bar */
.hamburger-close .hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-25%, 240%) ;
    transform: rotate(-45deg) translate(-25%, 240%);
}

/* Fade out the second bar */
.hamburger-close .hamburger-bar2 {
    opacity: 0;
}

/* Rotate the third bar */
.hamburger-close .hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(-30%, -330%) ;
    transform: rotate(45deg) translate(-30%, -330%);
}

/**
 * Date range slider
 *
 * See https://www.w3schools.com/howto/howto_js_rangeslider.asp
 */
#date-range-slider-container {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 2.8em;
    width: 15em;
    max-width: 50vw;
    z-index: 1000;
}

.slider {
    -webkit-appearance: none;
    height: 0.5em;
    width: 100%;
    border-radius: 5px;
    background: #111;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1.7em;
    border-radius: 3px;
    background: #000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1.7em;
    border-radius: 3px;
    background: #000;
    cursor: pointer;
}

/* Tooltip based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
#date-range-slider-tooltip {
    z-index: 1001;
    top: -0.6em;
    left: 0.1em;
}

#description-container {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1000;
    bottom: 0.4em;
    width: 30rem;
    height: 1.1rem;
    padding: 0.3em;
}

.tooltip {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.tooltip-hover {
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 12pt;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #333;
    visibility: hidden;
    max-width: 50vw;
    left: 3rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.has-tooltip:hover .tooltip-hover {
    visibility: visible;
    opacity: 1;
}

#date-range-slider-container .tooltip-hover {
    left: -6.6em;
    bottom: -0.3rem;
}

/**
 * Make Leaflet controls responsive to text zooming
 * to improve accessibility.
 */
.leaflet-left .leaflet-control {
    margin-left: 0.4rem !important;
}

.leaflet-top .leaflet-control {
    margin-top: 0.4rem !important;
}

.leaflet-control-container .leaflet-bar a {
    width: 2.2rem !important;
    height: 2.2rem !important;
    line-height: 2.2rem !important;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 18pt;
}

.leaflet-container .leaflet-control-attribution {
    font-size: 11pt !important;
}

.place-name > .place-name-text {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
}

.place-tooltip {
  font-size: 1rem;
}
