{
    "base_tile_url": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    "base_tile_attribution": "Map tiles &copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"
}

