{
    "min_zoom": 2,
    "max_zoom": 10,
    "climate_tile_layer": {
        "z_index": 2,
        "url": "/tiles/climate",
        "opacity": 0.6,
        "format": "png"
    },
    "tile_layers": [
        {
            "url": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            "attribution": "<a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a>",
            "z_index": 1,
            "max_zoom": 10
        }
    ],
    "contact": {
        "support": {
            "username": "support",
            "domain": "myclimatemap.org"
        }
    }
}
