{
    "climate_tile_layer": {
        "z_index": 2,
        "url": "/tiles/climate",
        "opacity": 0.6
    },
    "tile_layers": [
        {
            "url": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            "attribution": "Map tiles &copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
            "z_index": 1
        }
    ],
    "contact": {
        "support": {
            "username": "support",
            "domain": "myclimatemap.org"
        }
    }
}
