body {
    padding: 0;
    margin: 0;
    font: 10pt sans-serif;
    height: 100%;
    overflow: hidden;
}

#climate-map {
    width: 100vw;
    height: 100%;
}

#filter-container.map-window {
    top: 73px;
    min-height: 100px;
    width: 360px;
    padding-top: 10px;
    z-index: 1001;
}

#filter-button.map-button {
    top: 75px;
    height: 30px;
    padding-top: 0;
}

#location-climate.map-window {
    top: 11px;
    width: 450px;
    left: 50px;
    bottom: 78px;
    overflow-y: scroll;
}

#location-title {
    font-size: 15pt;
}
#location-title a:last-child {
    text-decoration: none;
}

#search-expand-button.map-button {
    top: 110px;
}

#search-container.map-window {
    top: 109px;
    height: 40px;
    max-width: 290px;
    padding: 5px;
    z-index: 1001;
}

#temperature-button.map-button {
    top: 145px;
    color: #f44;
}

#precipitation-button.map-button {
    top: 180px;
    color: #44e;
}

#potet-button.map-button {
    top: 215px;
}

#ssp-button.map-button {
    top: 250px;
    padding-left: 3px;
    width: 28px;
}

#units-button.map-button {
    top: 250px;
    padding-top: 6px;
    font-size: 16px;
    height: 23px;
}

#about-button.map-button {
    top: 285px;
}

#about-question-mark {
    margin-left: 5px;
}

#about.map-window {
    top: 10px;
    padding-top: 10px;
    bottom: 78px;
    z-index: 1001;
    overflow-y: scroll;
}

#legend {
    z-index: 1000;
    position: absolute;
    top: 330px;
    left: 14px;
}

#error-container.map-window {
    z-index: 1005;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 25vw;
    max-width: 55vw;
    width: auto;
    text-align: center;
    background: #ebb;
}

#error-container-close.container-close {
    background: #eaa;
}
#error-container-close.container-close:hover {
    background: #e88;
}

.map-window {
    left: 45px;
    position: absolute;
    max-width: 75vw;
    width: 340px;
    max-height: 90vh;
    padding: 15px;
    border-left: 1px solid #aaa;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888;
    z-index: 1000; /* Has to go over the map. */
}

/**
 * Width does not include padding so width is actually 30px. Why?
 */
.map-button {
    position: absolute;
    left: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    background-color: #fff;
    padding-left: 5px;
    padding-top: 3px;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);
    z-index: 1000;
}

.map-button:hover {
    background-color: #f4f4f4;
}

.selected-map-button.map-button {
    background-color: #fc9;
}

.container-close {
    z-index: 1001;
    position: absolute;
    right: 4px;
    top: 2px;
    padding: 2px;
    border: 1px solid #444;
    border-radius: 3px;
    cursor: pointer;
    background: #f4f4f4;
}

.container-close:hover {
    background: #eee;
}

.container-close-large.container-close {
    font-size: 13px;
    right: 0;
}

/**
 * Hamburger courtesy https://www.w3schools.com/howto/howto_css_menu_icon.asp
 */
.hamburger-bar1, .hamburger-bar2, .hamburger-bar3 {
    width: 22px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.hamburger-close .hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px) ;
    transform: rotate(-45deg) translate(-6px, 5px) ;
}

/* Fade out the second bar */
.hamburger-close .hamburger-bar2 {
    opacity: 0;
}

/* Rotate last bar */
.hamburger-close .hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
    transform: rotate(45deg) translate(-6px, -6px) ;
}

/**
 * Date range slider
 *
 * See https://www.w3schools.com/howto/howto_js_rangeslider.asp
 */
#date-range-slider-container {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 55px;
    width: 150px;
    max-width: 50vw;
    z-index: 1000;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background: #888;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
}

/* Tooltip based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
#date-range-slider-tooltip {
    z-index: 1001;
    top: -10px;
    left: 2px;
    font-size: 120%;
}

#description-tooltip {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1000;
    bottom: 19px;
    width: 400px;
    max-width: 70vw;
    max-height: 20px;
}

.tooltip {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.tooltip-hover {
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 8pt;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #333;
    visibility: hidden;
    max-width: 50vw;
    opacity: 0;
    transition: opacity 0.3s;
}

.has-tooltip:hover .tooltip-hover {
    visibility: visible;
    opacity: 1;
}

#date-range-slider-container .tooltip-hover {
    left: -70px;
    bottom: -5px;
}
