#climate-map {
    width: 900px;
    height: 512px;
    margin-right: 20px;
    display: inline-block;
}

#sidebar {
    border-left: 1px solid #aaa;
    padding-left: 20px;
    display: inline-block;
    height: 512px;
    position: fixed;
}

#location-climate {
    display: none;
    position: absolute;
    top: 25px;
    left: 100px;
    width: 640px;
    height: 512px;
    background: #eeeeee;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000; /* Has to go over the map. */
    overflow-y: scroll;
}

#about {
    width: 900px;
    height: 200px;
    margin-right: 20px;
    display: inline-block;
}
